.number-inputs {
  display: flex;
  flex-wrap: wrap;
}

.number-inputs input {
  width: 2.5em;
}

.balance {
  padding: 0.5em;
  border: 2px solid;
  border-radius: 0.5rem;
  width: max-content;
  margin: 0.5em;
}

main {
  margin-top: 3em;
  padding: 0.5em;
}
