.number-inputs {
  display: flex;
  flex-wrap: wrap;
}

.number-inputs input {
  width: 2.5em;
}

.balance {
  padding: 0.5em;
  border: 2px solid;
  border-radius: 0.5rem;
  width: max-content;
  margin: 0.5em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-bottom: 2px solid var(--link-color);
}

main {
  margin-top: 3em;
  padding: 0.5em;
}

header h1 {
  margin: 0.5em 0;
}
