#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  opacity: 0;
  transform: translateY(-2em);
  transition: all 300ms ease-in;
}

.show {
  opacity: 1;
  transform: none;
}
