#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app main {
  opacity: 0;
  transform: translateX(-10em);
  transition: all 600ms ease-in;
}

.app main.show {
  opacity: 1;
  transform: none;
}

.img-container {
  width: 30rem;
  max-width: 70vw;
  margin: 0.5rem auto;
}

.landing-img {
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
}

.color-change {
  color: var(--link-color);
}

dialog .buttons {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.form-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5em;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

main p {
  width: 30rem;
  max-width: 70vw;
  margin: auto;
}

.footer-info {
  display: none;
}

@media (max-width: 25em) {
  dialog,
  input,
  header {
    font-size: clamp(12px, 1vw, 1em);
  }

  #root,
  main {
    padding: 0 !important;
    margin-top: 4.5em !important;
  }

  footer {
    display: none;
  }

  .footer-info {
    display: block;
    margin: 0.5em;
    font-size: 50%;
  }
}

@media (min-width: 100rem) {
  header,
  footer {
    left: calc((100vw - 100rem) / 2) !important;
  }

  footer {
    top: 40em;
    height: 1.5em;
  }
}

@media (prefers-reduced-motion) {
  .app main {
    transform: none;
    transition: opacity 600ms ease-in;
  }

  footer div {
    animation: none !important;
  }

  .animate {
    animation: 600ms fadeIn !important;
  }

  .animate-back {
    animation: 600ms reverse fadeIn !important;
  }
}
